.input-project {
    padding: 8px;
    width: 371px;
}

.button-margin {
    margin-left: 20px;
}

.overlay {
    position: fixed;
    inset: 0px;
    background-color: rgb(16 14 14 / 75%);
    z-index: 20;
}