.overlay {
    position: fixed;
    inset: 0px;
    background-color: rgb(16 14 14 / 75%);
    z-index: 20;
}

div {
    color: white;
}

.column--qubit {
    border: 1px solid white;
    width: 400px;
    float: left;
    font-size: 18px;
    margin: 20px;;
    box-shadow: 10px 10px 50px #1e2021;
    background: brown;
}

.column-content--qubit {
    float: left;
    padding: 15px;
    padding-right: 30px;
    background: #373b44;
}

.column-content-close-box--qubit {
    padding: 15px 25px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    background: #373b44;
}

.column-content-end--qubit {
    float: right;
    margin-right: 10px;
    padding: 15px;
}