.overlay {
    position: fixed;
    inset: 0px;
    background-color: rgb(16 14 14 / 75%);
    z-index: 20;
}

div {
    color: white;
}

.custom-gates-creation-modal--table-values-column {
    width: 214px;
    display: flex;
}

.custom-gates-creation-modal--table-values-column > input {
    height: 45px;
}

.custom-gates-creation-modal--padding-content {
    padding: 50px;   
    padding-top: 20px;
}

.custom-gates-creation-modal--table-values{
    margin: 40px;
}

.custom-gates-creation-modal--text-center {
    text-align: center;
}

.custom-gates-creation-modal--observation {
    text-align: center;
    font-size: 14px;
}

.custom-gates-creation-modal--add {
    margin-top: 40px;
}

.custom-gates-creation-modal--add > div {
    margin: 10px;
}

